<html>
<head>
    <title>{{TITLE}} | CodeFluent Entities Documentation</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link href="{{BASE}}css/simplelightbox.css" rel='stylesheet' type='text/css'>
    <link href="{{BASE}}css/prism.css" rel="stylesheet">
    <link href="{{BASE}}css/style.css" rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-3 splitted col-plain">
                <div class="text-center">
                    <img class="logo" src="{{BASE}}img/logo_softfluent.svg" />
                    <div class="text-center">CodeFluent Entities</div>
                </div>
                <ul class="summary nav nav-pills nav-stacked">
                    {{SUMMARY}}
                </ul>
            </div>
            <div class="col-sm-8 col-md-9 splitted">
                <section class="gallery col-md-12 col-lg-10 centered">
                    {{CONTENT}}
                    <hr />
                    <small>
                        Copyright &copy; 2005-2016 SoftFluent S.A.S. All Rights Reserved. CodeFluent Entities.<br />
                        Last generation date: {{DATE}}
                    </small>
                </section>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{BASE}}js/simple-lightbox.js"></script>
    <script src="{{BASE}}js/prismbundle.min.js"></script>

    <script>
        $(function () {
            //if ($.fn.simpleLightbox) {
            var gallery = $('.gallery a').simpleLightbox();
            //}
        });
    </script>
</body>
</html>