#summary {
    margin-top: 10px;
    background-color: #fafafa;
    margin-bottom: 10px;
}

.logo {
    margin: 10px;
    max-width: 200px;
}

img {
    max-width: 100%;
    margin: auto 0;
}

body, html {
    height: 100%;
}

.container-fluid,
.row,
.splitted {
    height: 100%;
}

.splitted {
    overflow-y: auto;
    padding-bottom: 32px;
}


h1 {
    font-size: 2em;
    margin-bottom: .85em;
    font-weight: 700;
}

h2 {
    margin-top: 1.275em;
    margin-bottom: .85em;
    font-weight: 700;
    font-size: 1.75em;
}

p {
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    color: #333;
    font-size: 1.6rem;
    margin-bottom:.85em;
    line-height: 1.7 !important;
}
h1,h2,p,li{
    line-height: 1.7;
}

* {
    border-radius: 0 !important;
}

section li {
    font-size: 16px;
}

hr {
    height: 4px;
    padding: 0;
    margin: 1.7em 0;
    overflow: hidden;
    background-color: #e7e7e7;
    border: none;
}

.col-plain {
    padding-left: 0;
    padding-right: 0;
}

#header{
    margin-bottom:20px;
}
#summary ol.nav ol.nav {
    margin-left: 20px;
}

    /*#summary ol.nav ol.nav ol.nav {
        margin-left: 20px;
    }*/

@media (min-width: 1200px) {
    .centered {
        margin-left: 8.33333333%;
    }
}

pre {
    overflow: auto !important;
}

.sl-close {
    font-size: 48px !important;
}

.sl-counter {
    font-size: 32px;
}

.sl-overlay {
    opacity: 0.9;
}


.sl-prev,
.sl-next {
    font-size: 32px !important;
    font-weight: bold;
    margin-top: -20px !important;
    height: 40px !important;
}

ol {
    counter-reset: section;
    list-style-type: none;
}

li a:before {
    counter-increment: section;
    content: counters(section, ".") " ";
    font-weight: bold !important;
    padding: 0 10px;
    color: #23527c;
}

li.active > a:before {
    color: white;
}

ol li a:before {
    counter-increment: section;
    content: counters(section, ".") " ";
    font-weight: bold !important;
    float: left;
}

ol ol li a:before {
    counter-increment: section;
    content: counters(section, ".") " ";
    font-weight: bold !important;
}
